extends layout

block content


  div.character-gallery
    each cc in characterClasses
      div.gallery-cell.cc
        h1
          |#{cc.name}
        img(src="#{cc.img}")
        div.description
          p
            |#{cc.description}
