//
   Created by Lars on 18.03.2016.

extends layout

block content
    div.text
        include text/introduction.txt
    div.text
        include text/city.txt
    div.text
        include text/around.txt
    div.text
        include text/races.txt
    div.text
        include text/elves.txt
    div.text
        include text/undead.txt
    div.text
        include text/dwarfs.txt